.App {
  text-align: center;
}

.App{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #fcfcfc;
  font-family: Arial, Helvetica, sans-serif;
}
